#stars {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1049px 1345px #926E58, 989px 281px #926E58, 815px 799px #926E58,
    1183px 326px #926E58, 1168px 1957px #926E58, 1407px 1091px #926E58,
    339px 542px #926E58, 1445px 792px #926E58, 1763px 1790px #926E58,
    1290px 1666px #926E58, 1967px 193px #926E58, 1033px 1625px #926E58,
    26px 970px #926E58, 1914px 446px #926E58, 1204px 1375px #926E58,
    542px 385px #926E58, 1045px 1074px #926E58, 1857px 27px #926E58,
    218px 129px #926E58, 1756px 1600px #926E58, 775px 363px #926E58,
    624px 1799px #926E58, 1402px 1205px #926E58, 1763px 659px #926E58,
    1708px 966px #926E58, 1833px 984px #926E58, 352px 921px #926E58,
    1591px 307px #926E58, 1890px 169px #926E58, 667px 911px #926E58,
    1278px 1050px #926E58, 56px 1583px #926E58, 1674px 118px #926E58,
    947px 429px #926E58, 1920px 885px #926E58, 767px 977px #926E58,
    1124px 1606px #926E58, 909px 162px #926E58, 1285px 1956px #926E58,
    486px 1484px #926E58, 1240px 1922px #926E58, 1528px 279px #926E58,
    96px 1693px #926E58, 1718px 244px #926E58, 21px 75px #926E58,
    52px 1964px #926E58, 1541px 1725px #926E58, 625px 523px #926E58,
    1147px 390px #926E58, 379px 1628px #926E58, 893px 1529px #926E58,
    1153px 786px #926E58, 1794px 770px #926E58, 1607px 1473px #926E58,
    938px 1934px #926E58, 577px 1152px #926E58, 955px 1393px #926E58,
    335px 771px #926E58, 124px 1933px #926E58, 8px 660px #926E58,
    1863px 495px #926E58, 137px 825px #926E58, 647px 1696px #926E58,
    1555px 995px #926E58, 1690px 96px #926E58, 1473px 924px #926E58,
    1388px 45px #926E58, 1469px 1061px #926E58, 381px 799px #926E58,
    1570px 428px #926E58, 1628px 758px #926E58, 1891px 577px #926E58,
    719px 1040px #926E58, 963px 1859px #926E58, 864px 1578px #926E58,
    1674px 1981px #926E58, 1067px 798px #926E58, 1130px 1098px #926E58,
    1317px 1417px #926E58, 1562px 210px #926E58, 881px 1221px #926E58,
    1188px 1111px #926E58, 1932px 734px #926E58, 520px 111px #926E58,
    1716px 1510px #926E58, 1535px 235px #926E58, 1673px 773px #926E58,
    1837px 1681px #926E58, 1714px 375px #926E58, 414px 1728px #926E58,
    936px 1810px #926E58, 1934px 1325px #926E58, 1204px 1766px #926E58,
    1531px 1040px #926E58, 1043px 1363px #926E58, 1039px 1331px #926E58,
    1665px 1836px #926E58, 572px 1173px #926E58, 1633px 412px #926E58,
    166px 171px #926E58, 1512px 577px #926E58, 1338px 313px #926E58,
    1427px 1506px #926E58, 383px 1281px #926E58, 1754px 1138px #926E58,
    310px 1167px #926E58, 1156px 1326px #926E58, 1957px 606px #926E58,
    1826px 1345px #926E58, 203px 1969px #926E58, 1931px 263px #926E58,
    753px 71px #926E58, 720px 489px #926E58, 1308px 468px #926E58,
    1754px 856px #926E58, 1527px 370px #926E58, 1479px 876px #926E58,
    1657px 836px #926E58, 1171px 541px #926E58, 1648px 271px #926E58,
    501px 20px #926E58, 959px 299px #926E58, 886px 105px #926E58,
    468px 326px #926E58, 1981px 442px #926E58, 1683px 165px #926E58,
    957px 1464px #926E58, 1522px 1588px #926E58, 1145px 229px #926E58,
    749px 1891px #926E58, 564px 65px #926E58, 765px 219px #926E58,
    1113px 1677px #926E58, 759px 699px #926E58, 717px 414px #926E58,
    1011px 181px #926E58, 999px 1626px #926E58, 979px 785px #926E58,
    900px 706px #926E58, 1885px 1993px #926E58, 1475px 1606px #926E58,
    557px 457px #926E58, 1752px 980px #926E58, 1971px 628px #926E58,
    1184px 1370px #926E58, 309px 199px #926E58, 1683px 218px #926E58,
    1012px 1253px #926E58, 970px 1662px #926E58, 1337px 1654px #926E58,
    381px 7px #926E58, 525px 1439px #926E58, 838px 656px #926E58,
    1987px 1537px #926E58, 209px 1573px #926E58, 1222px 573px #926E58,
    796px 1527px #926E58, 1143px 373px #926E58, 1054px 47px #926E58,
    1614px 1905px #926E58, 1663px 310px #926E58, 362px 146px #926E58,
    1434px 1209px #926E58, 459px 1214px #926E58, 338px 1590px #926E58,
    862px 525px #926E58, 1132px 638px #926E58, 806px 1191px #926E58,
    553px 1428px #926E58, 1716px 471px #926E58, 708px 1120px #926E58,
    311px 1508px #926E58, 998px 44px #926E58, 1620px 733px #926E58,
    1854px 1755px #926E58, 1095px 1149px #926E58, 1221px 66px #926E58,
    1596px 1522px #926E58, 219px 1904px #926E58, 1968px 779px #926E58,
    1926px 730px #926E58, 1967px 940px #926E58, 1445px 1623px #926E58,
    1447px 452px #926E58, 1049px 1839px #926E58, 1632px 349px #926E58,
    190px 233px #926E58, 455px 1495px #926E58, 527px 313px #926E58,
    1494px 427px #926E58, 297px 239px #926E58, 298px 191px #926E58,
    1825px 1537px #926E58, 446px 756px #926E58, 1899px 179px #926E58,
    624px 896px #926E58, 466px 449px #926E58, 480px 1024px #926E58,
    443px 1035px #926E58, 440px 1787px #926E58, 1px 244px #926E58,
    1499px 629px #926E58, 788px 343px #926E58, 1444px 1813px #926E58,
    1920px 1501px #926E58, 345px 1576px #926E58, 767px 303px #926E58,
    561px 1322px #926E58, 486px 1366px #926E58, 45px 11px #926E58,
    873px 1221px #926E58, 1867px 1683px #926E58, 183px 599px #926E58,
    1773px 1320px #926E58, 1016px 25px #926E58, 1174px 213px #926E58,
    1500px 1939px #926E58, 1947px 1706px #926E58, 820px 583px #926E58,
    1603px 882px #926E58, 908px 918px #926E58, 1089px 1405px #926E58,
    15px 427px #926E58, 803px 1235px #926E58, 1958px 1049px #926E58,
    579px 1829px #926E58, 149px 1733px #926E58, 952px 1786px #926E58,
    1888px 482px #926E58, 1109px 290px #926E58, 415px 1304px #926E58,
    68px 1205px #926E58, 948px 649px #926E58, 1923px 1872px #926E58,
    1620px 1926px #926E58, 1278px 1684px #926E58, 779px 1058px #926E58,
    847px 307px #926E58, 352px 1259px #926E58, 667px 657px #926E58,
    1847px 1748px #926E58, 741px 1850px #926E58, 865px 683px #926E58,
    1387px 1241px #926E58, 1755px 837px #926E58, 1534px 1602px #926E58,
    669px 172px #926E58, 1921px 1405px #926E58, 137px 622px #926E58,
    415px 1100px #926E58, 1455px 1031px #926E58, 1349px 1661px #926E58,
    253px 1351px #926E58, 1572px 1367px #926E58, 514px 806px #926E58,
    807px 334px #926E58, 1868px 1587px #926E58, 1022px 828px #926E58,
    33px 1321px #926E58, 1976px 494px #926E58, 386px 236px #926E58,
    342px 436px #926E58, 835px 1114px #926E58, 209px 1943px #926E58,
    1032px 351px #926E58, 1345px 1397px #926E58, 680px 276px #926E58,
    1277px 752px #926E58, 1191px 545px #926E58, 1877px 1588px #926E58,
    1407px 1817px #926E58, 1482px 1578px #926E58, 1168px 701px #926E58,
    546px 577px #926E58, 808px 1965px #926E58, 293px 910px #926E58,
    1714px 1046px #926E58, 1442px 1985px #926E58, 1188px 895px #926E58,
    1712px 1758px #926E58, 665px 62px #926E58, 1476px 1516px #926E58,
    816px 297px #926E58, 1563px 1206px #926E58, 916px 1370px #926E58,
    1327px 1120px #926E58, 49px 1056px #926E58, 1776px 1653px #926E58,
    1580px 1728px #926E58, 200px 1699px #926E58, 1461px 1121px #926E58,
    1536px 1919px #926E58, 170px 689px #926E58, 827px 1223px #926E58,
    318px 1221px #926E58, 1750px 377px #926E58, 981px 1478px #926E58,
    179px 429px #926E58, 779px 980px #926E58, 121px 1118px #926E58,
    1177px 329px #926E58, 695px 287px #926E58, 896px 1870px #926E58,
    703px 233px #926E58, 1722px 772px #926E58, 1665px 1900px #926E58,
    394px 559px #926E58, 1423px 1338px #926E58, 125px 982px #926E58,
    1837px 1236px #926E58, 1736px 826px #926E58, 610px 1075px #926E58,
    670px 203px #926E58, 1765px 590px #926E58, 1571px 1481px #926E58,
    32px 1380px #926E58, 314px 1830px #926E58, 15px 1300px #926E58,
    1993px 145px #926E58, 438px 832px #926E58, 1822px 58px #926E58,
    1933px 1261px #926E58, 1504px 731px #926E58, 1041px 1426px #926E58,
    76px 1070px #926E58, 1428px 1521px #926E58, 1674px 1458px #926E58,
    1477px 108px #926E58, 317px 795px #926E58, 1650px 923px #926E58,
    601px 938px #926E58, 864px 1663px #926E58, 1228px 914px #926E58,
    693px 1455px #926E58, 770px 1989px #926E58, 334px 393px #926E58,
    274px 1330px #926E58, 1916px 969px #926E58, 1126px 203px #926E58,
    1595px 161px #926E58, 1524px 503px #926E58, 1660px 1356px #926E58,
    713px 91px #926E58, 1297px 148px #926E58, 1646px 410px #926E58,
    1635px 885px #926E58, 863px 1875px #926E58, 1478px 1563px #926E58,
    134px 289px #926E58, 136px 834px #926E58, 1141px 1845px #926E58,
    1235px 1149px #926E58, 1997px 554px #926E58, 183px 59px #926E58,
    1902px 276px #926E58, 818px 1683px #926E58, 1631px 1867px #926E58,
    234px 1253px #926E58, 1204px 212px #926E58, 931px 1078px #926E58,
    198px 1230px #926E58, 184px 176px #926E58, 243px 633px #926E58,
    1403px 1577px #926E58, 1865px 432px #926E58, 1522px 1799px #926E58,
    1023px 614px #926E58, 225px 88px #926E58, 1091px 957px #926E58,
    1064px 190px #926E58, 1997px 474px #926E58, 195px 287px #926E58,
    1207px 1133px #926E58, 1500px 961px #926E58, 1776px 1633px #926E58,
    732px 1825px #926E58, 184px 1688px #926E58, 631px 68px #926E58,
    730px 1295px #926E58, 473px 739px #926E58, 1076px 784px #926E58,
    1335px 814px #926E58, 553px 1438px #926E58, 1654px 1438px #926E58,
    52px 1586px #926E58, 111px 157px #926E58, 69px 163px #926E58,
    434px 1851px #926E58, 744px 1846px #926E58, 1257px 59px #926E58,
    369px 1856px #926E58, 1392px 410px #926E58, 894px 764px #926E58,
    1187px 703px #926E58, 36px 715px #926E58, 596px 952px #926E58,
    1090px 972px #926E58, 1334px 61px #926E58, 907px 1770px #926E58,
    1724px 1855px #926E58, 802px 551px #926E58, 780px 34px #926E58,
    1842px 582px #926E58, 1635px 1871px #926E58, 1453px 748px #926E58,
    1240px 1080px #926E58, 680px 708px #926E58, 1794px 1100px #926E58,
    1834px 299px #926E58, 1992px 1933px #926E58, 838px 379px #926E58,
    95px 1020px #926E58, 837px 200px #926E58, 294px 1140px #926E58,
    252px 1067px #926E58, 779px 1608px #926E58, 480px 533px #926E58,
    498px 947px #926E58, 675px 461px #926E58, 1578px 1560px #926E58,
    1371px 617px #926E58, 1083px 1464px #926E58, 326px 1802px #926E58,
    503px 1456px #926E58, 1207px 925px #926E58, 929px 951px #926E58,
    1475px 76px #926E58, 403px 776px #926E58, 121px 973px #926E58,
    856px 724px #926E58, 1365px 1896px #926E58, 568px 1188px #926E58,
    1407px 126px #926E58, 1683px 1509px #926E58, 1288px 815px #926E58,
    702px 1689px #926E58, 988px 668px #926E58, 1234px 1534px #926E58,
    1126px 1616px #926E58, 1899px 1863px #926E58, 1845px 1046px #926E58,
    405px 1304px #926E58, 757px 864px #926E58, 695px 752px #926E58,
    1569px 506px #926E58, 43px 826px #926E58, 1462px 718px #926E58,
    687px 1718px #926E58, 28px 1893px #926E58, 687px 1186px #926E58,
    1622px 571px #926E58, 647px 1068px #926E58, 1129px 995px #926E58,
    143px 29px #926E58, 268px 1823px #926E58, 750px 1765px #926E58,
    1464px 1221px #926E58, 872px 12px #926E58, 1452px 389px #926E58,
    106px 1867px #926E58, 418px 815px #926E58, 127px 1039px #926E58,
    679px 1103px #926E58, 1095px 283px #926E58, 773px 1455px #926E58,
    1175px 1099px #926E58, 1983px 804px #926E58, 1304px 1482px #926E58,
    25px 1235px #926E58, 687px 1457px #926E58, 856px 129px #926E58,
    784px 1118px #926E58, 1664px 1516px #926E58, 1273px 1519px #926E58,
    1790px 1266px #926E58, 1449px 1161px #926E58, 894px 321px #926E58,
    1513px 399px #926E58, 431px 681px #926E58, 1690px 23px #926E58,
    1880px 1384px #926E58, 548px 501px #926E58, 1434px 1579px #926E58,
    65px 881px #926E58, 1492px 667px #926E58, 286px 582px #926E58,
    388px 735px #926E58, 1031px 1700px #926E58, 178px 1287px #926E58,
    601px 289px #926E58, 142px 258px #926E58, 1250px 908px #926E58,
    1414px 1130px #926E58, 1774px 1991px #926E58, 588px 1938px #926E58,
    1809px 1494px #926E58, 406px 1387px #926E58, 158px 284px #926E58,
    876px 397px #926E58, 1995px 1955px #926E58, 1077px 1701px #926E58,
    1416px 337px #926E58, 1686px 758px #926E58, 1030px 576px #926E58,
    255px 379px #926E58, 1731px 376px #926E58, 700px 1013px #926E58,
    1231px 533px #926E58, 1325px 1876px #926E58, 1296px 964px #926E58,
    366px 1028px #926E58, 634px 1542px #926E58, 1795px 1696px #926E58,
    223px 364px #926E58, 1927px 1654px #926E58, 1360px 478px #926E58,
    1813px 685px #926E58, 168px 1892px #926E58, 1604px 514px #926E58,
    878px 34px #926E58, 280px 1534px #926E58, 1667px 1342px #926E58,
    1145px 1295px #926E58, 1283px 1306px #926E58, 943px 488px #926E58,
    503px 995px #926E58, 1363px 510px #926E58, 1193px 521px #926E58,
    35px 1709px #926E58, 773px 502px #926E58, 1359px 1426px #926E58,
    1595px 1664px #926E58, 1073px 697px #926E58, 330px 734px #926E58,
    430px 594px #926E58, 545px 1970px #926E58, 494px 1903px #926E58,
    1391px 607px #926E58, 1250px 1315px #926E58, 1790px 729px #926E58,
    1590px 913px #926E58, 670px 301px #926E58, 1050px 25px #926E58,
    1615px 469px #926E58, 445px 1420px #926E58, 1941px 349px #926E58,
    1005px 1802px #926E58, 1023px 1254px #926E58, 1784px 1879px #926E58,
    1169px 923px #926E58, 528px 552px #926E58, 567px 1879px #926E58,
    735px 618px #926E58, 1686px 1495px #926E58, 215px 1554px #926E58,
    820px 1140px #926E58, 1159px 395px #926E58, 1515px 1307px #926E58,
    1270px 1566px #926E58, 969px 1936px #926E58, 213px 796px #926E58,
    1558px 176px #926E58, 263px 905px #926E58, 119px 1491px #926E58,
    1570px 411px #926E58, 1258px 574px #926E58, 1847px 6px #926E58,
    1576px 301px #926E58, 317px 1436px #926E58, 453px 270px #926E58,
    1232px 272px #926E58, 1054px 1710px #926E58, 1931px 1916px #926E58,
    566px 1671px #926E58, 516px 709px #926E58, 1080px 1103px #926E58,
    528px 1942px #926E58, 1269px 858px #926E58, 902px 397px #926E58,
    731px 1193px #926E58, 967px 1544px #926E58, 643px 117px #926E58,
    1957px 218px #926E58, 855px 1392px #926E58, 1923px 1772px #926E58,
    1289px 1539px #926E58, 518px 1973px #926E58, 409px 506px #926E58,
    1462px 1521px #926E58, 1781px 1240px #926E58, 373px 1494px #926E58,
    1764px 1599px #926E58, 1071px 435px #926E58, 32px 1144px #926E58,
    185px 1883px #926E58, 677px 378px #926E58, 1452px 238px #926E58,
    989px 1042px #926E58, 1298px 1214px #926E58, 1136px 1910px #926E58,
    598px 1955px #926E58, 1337px 748px #926E58, 873px 1216px #926E58,
    246px 1166px #926E58, 1920px 491px #926E58, 1788px 1161px #926E58,
    1088px 1208px #926E58, 1709px 1791px #926E58, 447px 445px #926E58,
    309px 78px #926E58, 329px 810px #926E58, 880px 1134px #926E58,
    1054px 1776px #926E58, 1482px 87px #926E58, 1362px 798px #926E58,
    1898px 1459px #926E58, 1407px 733px #926E58, 308px 264px #926E58,
    446px 1220px #926E58, 407px 1275px #926E58, 188px 1376px #926E58,
    386px 1627px #926E58, 1380px 1468px #926E58, 1585px 1418px #926E58,
    1919px 1764px #926E58, 299px 35px #926E58, 1979px 453px #926E58,
    1562px 1777px #926E58, 1394px 92px #926E58, 1853px 1635px #926E58,
    1352px 1506px #926E58, 1784px 302px #926E58, 419px 818px #926E58,
    642px 372px #926E58, 432px 514px #926E58, 1548px 756px #926E58,
    178px 459px #926E58, 1381px 1849px #926E58, 1748px 1177px #926E58,
    1362px 55px #926E58, 1868px 1965px #926E58, 1786px 1089px #926E58,
    1117px 1836px #926E58, 1538px 1240px #926E58, 519px 409px #926E58,
    83px 812px #926E58, 64px 1854px #926E58, 1619px 936px #926E58,
    1129px 1196px #926E58, 131px 368px #926E58, 1009px 595px #926E58,
    720px 1842px #926E58, 137px 1835px #926E58, 2px 1542px #926E58,
    151px 902px #926E58, 1345px 37px #926E58, 385px 716px #926E58,
    576px 308px #926E58, 1553px 1030px #926E58, 9px 1233px #926E58,
    1027px 1637px #926E58, 985px 1172px #926E58, 941px 451px #926E58,
    1385px 1200px #926E58, 225px 2px #926E58, 495px 838px #926E58,
    1950px 1512px #926E58, 590px 1953px #926E58, 1890px 1574px #926E58,
    1081px 755px #926E58, 1543px 1879px #926E58, 1543px 260px #926E58,
    648px 1273px #926E58, 1765px 984px #926E58, 273px 662px #926E58,
    376px 1689px #926E58, 1429px 657px #926E58, 898px 268px #926E58,
    412px 512px #926E58, 541px 421px #926E58, 212px 922px #926E58,
    610px 875px #926E58, 1893px 573px #926E58, 1851px 634px #926E58,
    1786px 1087px #926E58, 1896px 81px #926E58, 330px 1748px #926E58,
    1271px 333px #926E58, 510px 1740px #926E58, 1887px 459px #926E58,
    402px 740px #926E58, 102px 729px #926E58, 1761px 1379px #926E58,
    914px 1103px #926E58, 718px 856px #926E58, 96px 809px #926E58,
    1517px 1029px #926E58, 1172px 814px #926E58, 1210px 585px #926E58,
    1366px 258px #926E58;
  animation: animStar 30s linear infinite;
  z-index: 10;
  position: relative;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1049px 1345px #926E58, 989px 281px #926E58, 815px 799px #926E58,
    1183px 326px #926E58, 1168px 1957px #926E58, 1407px 1091px #926E58,
    339px 542px #926E58, 1445px 792px #926E58, 1763px 1790px #926E58,
    1290px 1666px #926E58, 1967px 193px #926E58, 1033px 1625px #926E58,
    26px 970px #926E58, 1914px 446px #926E58, 1204px 1375px #926E58,
    542px 385px #926E58, 1045px 1074px #926E58, 1857px 27px #926E58,
    218px 129px #926E58, 1756px 1600px #926E58, 775px 363px #926E58,
    624px 1799px #926E58, 1402px 1205px #926E58, 1763px 659px #926E58,
    1708px 966px #926E58, 1833px 984px #926E58, 352px 921px #926E58,
    1591px 307px #926E58, 1890px 169px #926E58, 667px 911px #926E58,
    1278px 1050px #926E58, 56px 1583px #926E58, 1674px 118px #926E58,
    947px 429px #926E58, 1920px 885px #926E58, 767px 977px #926E58,
    1124px 1606px #926E58, 909px 162px #926E58, 1285px 1956px #926E58,
    486px 1484px #926E58, 1240px 1922px #926E58, 1528px 279px #926E58,
    96px 1693px #926E58, 1718px 244px #926E58, 21px 75px #926E58,
    52px 1964px #926E58, 1541px 1725px #926E58, 625px 523px #926E58,
    1147px 390px #926E58, 379px 1628px #926E58, 893px 1529px #926E58,
    1153px 786px #926E58, 1794px 770px #926E58, 1607px 1473px #926E58,
    938px 1934px #926E58, 577px 1152px #926E58, 955px 1393px #926E58,
    335px 771px #926E58, 124px 1933px #926E58, 8px 660px #926E58,
    1863px 495px #926E58, 137px 825px #926E58, 647px 1696px #926E58,
    1555px 995px #926E58, 1690px 96px #926E58, 1473px 924px #926E58,
    1388px 45px #926E58, 1469px 1061px #926E58, 381px 799px #926E58,
    1570px 428px #926E58, 1628px 758px #926E58, 1891px 577px #926E58,
    719px 1040px #926E58, 963px 1859px #926E58, 864px 1578px #926E58,
    1674px 1981px #926E58, 1067px 798px #926E58, 1130px 1098px #926E58,
    1317px 1417px #926E58, 1562px 210px #926E58, 881px 1221px #926E58,
    1188px 1111px #926E58, 1932px 734px #926E58, 520px 111px #926E58,
    1716px 1510px #926E58, 1535px 235px #926E58, 1673px 773px #926E58,
    1837px 1681px #926E58, 1714px 375px #926E58, 414px 1728px #926E58,
    936px 1810px #926E58, 1934px 1325px #926E58, 1204px 1766px #926E58,
    1531px 1040px #926E58, 1043px 1363px #926E58, 1039px 1331px #926E58,
    1665px 1836px #926E58, 572px 1173px #926E58, 1633px 412px #926E58,
    166px 171px #926E58, 1512px 577px #926E58, 1338px 313px #926E58,
    1427px 1506px #926E58, 383px 1281px #926E58, 1754px 1138px #926E58,
    310px 1167px #926E58, 1156px 1326px #926E58, 1957px 606px #926E58,
    1826px 1345px #926E58, 203px 1969px #926E58, 1931px 263px #926E58,
    753px 71px #926E58, 720px 489px #926E58, 1308px 468px #926E58,
    1754px 856px #926E58, 1527px 370px #926E58, 1479px 876px #926E58,
    1657px 836px #926E58, 1171px 541px #926E58, 1648px 271px #926E58,
    501px 20px #926E58, 959px 299px #926E58, 886px 105px #926E58,
    468px 326px #926E58, 1981px 442px #926E58, 1683px 165px #926E58,
    957px 1464px #926E58, 1522px 1588px #926E58, 1145px 229px #926E58,
    749px 1891px #926E58, 564px 65px #926E58, 765px 219px #926E58,
    1113px 1677px #926E58, 759px 699px #926E58, 717px 414px #926E58,
    1011px 181px #926E58, 999px 1626px #926E58, 979px 785px #926E58,
    900px 706px #926E58, 1885px 1993px #926E58, 1475px 1606px #926E58,
    557px 457px #926E58, 1752px 980px #926E58, 1971px 628px #926E58,
    1184px 1370px #926E58, 309px 199px #926E58, 1683px 218px #926E58,
    1012px 1253px #926E58, 970px 1662px #926E58, 1337px 1654px #926E58,
    381px 7px #926E58, 525px 1439px #926E58, 838px 656px #926E58,
    1987px 1537px #926E58, 209px 1573px #926E58, 1222px 573px #926E58,
    796px 1527px #926E58, 1143px 373px #926E58, 1054px 47px #926E58,
    1614px 1905px #926E58, 1663px 310px #926E58, 362px 146px #926E58,
    1434px 1209px #926E58, 459px 1214px #926E58, 338px 1590px #926E58,
    862px 525px #926E58, 1132px 638px #926E58, 806px 1191px #926E58,
    553px 1428px #926E58, 1716px 471px #926E58, 708px 1120px #926E58,
    311px 1508px #926E58, 998px 44px #926E58, 1620px 733px #926E58,
    1854px 1755px #926E58, 1095px 1149px #926E58, 1221px 66px #926E58,
    1596px 1522px #926E58, 219px 1904px #926E58, 1968px 779px #926E58,
    1926px 730px #926E58, 1967px 940px #926E58, 1445px 1623px #926E58,
    1447px 452px #926E58, 1049px 1839px #926E58, 1632px 349px #926E58,
    190px 233px #926E58, 455px 1495px #926E58, 527px 313px #926E58,
    1494px 427px #926E58, 297px 239px #926E58, 298px 191px #926E58,
    1825px 1537px #926E58, 446px 756px #926E58, 1899px 179px #926E58,
    624px 896px #926E58, 466px 449px #926E58, 480px 1024px #926E58,
    443px 1035px #926E58, 440px 1787px #926E58, 1px 244px #926E58,
    1499px 629px #926E58, 788px 343px #926E58, 1444px 1813px #926E58,
    1920px 1501px #926E58, 345px 1576px #926E58, 767px 303px #926E58,
    561px 1322px #926E58, 486px 1366px #926E58, 45px 11px #926E58,
    873px 1221px #926E58, 1867px 1683px #926E58, 183px 599px #926E58,
    1773px 1320px #926E58, 1016px 25px #926E58, 1174px 213px #926E58,
    1500px 1939px #926E58, 1947px 1706px #926E58, 820px 583px #926E58,
    1603px 882px #926E58, 908px 918px #926E58, 1089px 1405px #926E58,
    15px 427px #926E58, 803px 1235px #926E58, 1958px 1049px #926E58,
    579px 1829px #926E58, 149px 1733px #926E58, 952px 1786px #926E58,
    1888px 482px #926E58, 1109px 290px #926E58, 415px 1304px #926E58,
    68px 1205px #926E58, 948px 649px #926E58, 1923px 1872px #926E58,
    1620px 1926px #926E58, 1278px 1684px #926E58, 779px 1058px #926E58,
    847px 307px #926E58, 352px 1259px #926E58, 667px 657px #926E58,
    1847px 1748px #926E58, 741px 1850px #926E58, 865px 683px #926E58,
    1387px 1241px #926E58, 1755px 837px #926E58, 1534px 1602px #926E58,
    669px 172px #926E58, 1921px 1405px #926E58, 137px 622px #926E58,
    415px 1100px #926E58, 1455px 1031px #926E58, 1349px 1661px #926E58,
    253px 1351px #926E58, 1572px 1367px #926E58, 514px 806px #926E58,
    807px 334px #926E58, 1868px 1587px #926E58, 1022px 828px #926E58,
    33px 1321px #926E58, 1976px 494px #926E58, 386px 236px #926E58,
    342px 436px #926E58, 835px 1114px #926E58, 209px 1943px #926E58,
    1032px 351px #926E58, 1345px 1397px #926E58, 680px 276px #926E58,
    1277px 752px #926E58, 1191px 545px #926E58, 1877px 1588px #926E58,
    1407px 1817px #926E58, 1482px 1578px #926E58, 1168px 701px #926E58,
    546px 577px #926E58, 808px 1965px #926E58, 293px 910px #926E58,
    1714px 1046px #926E58, 1442px 1985px #926E58, 1188px 895px #926E58,
    1712px 1758px #926E58, 665px 62px #926E58, 1476px 1516px #926E58,
    816px 297px #926E58, 1563px 1206px #926E58, 916px 1370px #926E58,
    1327px 1120px #926E58, 49px 1056px #926E58, 1776px 1653px #926E58,
    1580px 1728px #926E58, 200px 1699px #926E58, 1461px 1121px #926E58,
    1536px 1919px #926E58, 170px 689px #926E58, 827px 1223px #926E58,
    318px 1221px #926E58, 1750px 377px #926E58, 981px 1478px #926E58,
    179px 429px #926E58, 779px 980px #926E58, 121px 1118px #926E58,
    1177px 329px #926E58, 695px 287px #926E58, 896px 1870px #926E58,
    703px 233px #926E58, 1722px 772px #926E58, 1665px 1900px #926E58,
    394px 559px #926E58, 1423px 1338px #926E58, 125px 982px #926E58,
    1837px 1236px #926E58, 1736px 826px #926E58, 610px 1075px #926E58,
    670px 203px #926E58, 1765px 590px #926E58, 1571px 1481px #926E58,
    32px 1380px #926E58, 314px 1830px #926E58, 15px 1300px #926E58,
    1993px 145px #926E58, 438px 832px #926E58, 1822px 58px #926E58,
    1933px 1261px #926E58, 1504px 731px #926E58, 1041px 1426px #926E58,
    76px 1070px #926E58, 1428px 1521px #926E58, 1674px 1458px #926E58,
    1477px 108px #926E58, 317px 795px #926E58, 1650px 923px #926E58,
    601px 938px #926E58, 864px 1663px #926E58, 1228px 914px #926E58,
    693px 1455px #926E58, 770px 1989px #926E58, 334px 393px #926E58,
    274px 1330px #926E58, 1916px 969px #926E58, 1126px 203px #926E58,
    1595px 161px #926E58, 1524px 503px #926E58, 1660px 1356px #926E58,
    713px 91px #926E58, 1297px 148px #926E58, 1646px 410px #926E58,
    1635px 885px #926E58, 863px 1875px #926E58, 1478px 1563px #926E58,
    134px 289px #926E58, 136px 834px #926E58, 1141px 1845px #926E58,
    1235px 1149px #926E58, 1997px 554px #926E58, 183px 59px #926E58,
    1902px 276px #926E58, 818px 1683px #926E58, 1631px 1867px #926E58,
    234px 1253px #926E58, 1204px 212px #926E58, 931px 1078px #926E58,
    198px 1230px #926E58, 184px 176px #926E58, 243px 633px #926E58,
    1403px 1577px #926E58, 1865px 432px #926E58, 1522px 1799px #926E58,
    1023px 614px #926E58, 225px 88px #926E58, 1091px 957px #926E58,
    1064px 190px #926E58, 1997px 474px #926E58, 195px 287px #926E58,
    1207px 1133px #926E58, 1500px 961px #926E58, 1776px 1633px #926E58,
    732px 1825px #926E58, 184px 1688px #926E58, 631px 68px #926E58,
    730px 1295px #926E58, 473px 739px #926E58, 1076px 784px #926E58,
    1335px 814px #926E58, 553px 1438px #926E58, 1654px 1438px #926E58,
    52px 1586px #926E58, 111px 157px #926E58, 69px 163px #926E58,
    434px 1851px #926E58, 744px 1846px #926E58, 1257px 59px #926E58,
    369px 1856px #926E58, 1392px 410px #926E58, 894px 764px #926E58,
    1187px 703px #926E58, 36px 715px #926E58, 596px 952px #926E58,
    1090px 972px #926E58, 1334px 61px #926E58, 907px 1770px #926E58,
    1724px 1855px #926E58, 802px 551px #926E58, 780px 34px #926E58,
    1842px 582px #926E58, 1635px 1871px #926E58, 1453px 748px #926E58,
    1240px 1080px #926E58, 680px 708px #926E58, 1794px 1100px #926E58,
    1834px 299px #926E58, 1992px 1933px #926E58, 838px 379px #926E58,
    95px 1020px #926E58, 837px 200px #926E58, 294px 1140px #926E58,
    252px 1067px #926E58, 779px 1608px #926E58, 480px 533px #926E58,
    498px 947px #926E58, 675px 461px #926E58, 1578px 1560px #926E58,
    1371px 617px #926E58, 1083px 1464px #926E58, 326px 1802px #926E58,
    503px 1456px #926E58, 1207px 925px #926E58, 929px 951px #926E58,
    1475px 76px #926E58, 403px 776px #926E58, 121px 973px #926E58,
    856px 724px #926E58, 1365px 1896px #926E58, 568px 1188px #926E58,
    1407px 126px #926E58, 1683px 1509px #926E58, 1288px 815px #926E58,
    702px 1689px #926E58, 988px 668px #926E58, 1234px 1534px #926E58,
    1126px 1616px #926E58, 1899px 1863px #926E58, 1845px 1046px #926E58,
    405px 1304px #926E58, 757px 864px #926E58, 695px 752px #926E58,
    1569px 506px #926E58, 43px 826px #926E58, 1462px 718px #926E58,
    687px 1718px #926E58, 28px 1893px #926E58, 687px 1186px #926E58,
    1622px 571px #926E58, 647px 1068px #926E58, 1129px 995px #926E58,
    143px 29px #926E58, 268px 1823px #926E58, 750px 1765px #926E58,
    1464px 1221px #926E58, 872px 12px #926E58, 1452px 389px #926E58,
    106px 1867px #926E58, 418px 815px #926E58, 127px 1039px #926E58,
    679px 1103px #926E58, 1095px 283px #926E58, 773px 1455px #926E58,
    1175px 1099px #926E58, 1983px 804px #926E58, 1304px 1482px #926E58,
    25px 1235px #926E58, 687px 1457px #926E58, 856px 129px #926E58,
    784px 1118px #926E58, 1664px 1516px #926E58, 1273px 1519px #926E58,
    1790px 1266px #926E58, 1449px 1161px #926E58, 894px 321px #926E58,
    1513px 399px #926E58, 431px 681px #926E58, 1690px 23px #926E58,
    1880px 1384px #926E58, 548px 501px #926E58, 1434px 1579px #926E58,
    65px 881px #926E58, 1492px 667px #926E58, 286px 582px #926E58,
    388px 735px #926E58, 1031px 1700px #926E58, 178px 1287px #926E58,
    601px 289px #926E58, 142px 258px #926E58, 1250px 908px #926E58,
    1414px 1130px #926E58, 1774px 1991px #926E58, 588px 1938px #926E58,
    1809px 1494px #926E58, 406px 1387px #926E58, 158px 284px #926E58,
    876px 397px #926E58, 1995px 1955px #926E58, 1077px 1701px #926E58,
    1416px 337px #926E58, 1686px 758px #926E58, 1030px 576px #926E58,
    255px 379px #926E58, 1731px 376px #926E58, 700px 1013px #926E58,
    1231px 533px #926E58, 1325px 1876px #926E58, 1296px 964px #926E58,
    366px 1028px #926E58, 634px 1542px #926E58, 1795px 1696px #926E58,
    223px 364px #926E58, 1927px 1654px #926E58, 1360px 478px #926E58,
    1813px 685px #926E58, 168px 1892px #926E58, 1604px 514px #926E58,
    878px 34px #926E58, 280px 1534px #926E58, 1667px 1342px #926E58,
    1145px 1295px #926E58, 1283px 1306px #926E58, 943px 488px #926E58,
    503px 995px #926E58, 1363px 510px #926E58, 1193px 521px #926E58,
    35px 1709px #926E58, 773px 502px #926E58, 1359px 1426px #926E58,
    1595px 1664px #926E58, 1073px 697px #926E58, 330px 734px #926E58,
    430px 594px #926E58, 545px 1970px #926E58, 494px 1903px #926E58,
    1391px 607px #926E58, 1250px 1315px #926E58, 1790px 729px #926E58,
    1590px 913px #926E58, 670px 301px #926E58, 1050px 25px #926E58,
    1615px 469px #926E58, 445px 1420px #926E58, 1941px 349px #926E58,
    1005px 1802px #926E58, 1023px 1254px #926E58, 1784px 1879px #926E58,
    1169px 923px #926E58, 528px 552px #926E58, 567px 1879px #926E58,
    735px 618px #926E58, 1686px 1495px #926E58, 215px 1554px #926E58,
    820px 1140px #926E58, 1159px 395px #926E58, 1515px 1307px #926E58,
    1270px 1566px #926E58, 969px 1936px #926E58, 213px 796px #926E58,
    1558px 176px #926E58, 263px 905px #926E58, 119px 1491px #926E58,
    1570px 411px #926E58, 1258px 574px #926E58, 1847px 6px #926E58,
    1576px 301px #926E58, 317px 1436px #926E58, 453px 270px #926E58,
    1232px 272px #926E58, 1054px 1710px #926E58, 1931px 1916px #926E58,
    566px 1671px #926E58, 516px 709px #926E58, 1080px 1103px #926E58,
    528px 1942px #926E58, 1269px 858px #926E58, 902px 397px #926E58,
    731px 1193px #926E58, 967px 1544px #926E58, 643px 117px #926E58,
    1957px 218px #926E58, 855px 1392px #926E58, 1923px 1772px #926E58,
    1289px 1539px #926E58, 518px 1973px #926E58, 409px 506px #926E58,
    1462px 1521px #926E58, 1781px 1240px #926E58, 373px 1494px #926E58,
    1764px 1599px #926E58, 1071px 435px #926E58, 32px 1144px #926E58,
    185px 1883px #926E58, 677px 378px #926E58, 1452px 238px #926E58,
    989px 1042px #926E58, 1298px 1214px #926E58, 1136px 1910px #926E58,
    598px 1955px #926E58, 1337px 748px #926E58, 873px 1216px #926E58,
    246px 1166px #926E58, 1920px 491px #926E58, 1788px 1161px #926E58,
    1088px 1208px #926E58, 1709px 1791px #926E58, 447px 445px #926E58,
    309px 78px #926E58, 329px 810px #926E58, 880px 1134px #926E58,
    1054px 1776px #926E58, 1482px 87px #926E58, 1362px 798px #926E58,
    1898px 1459px #926E58, 1407px 733px #926E58, 308px 264px #926E58,
    446px 1220px #926E58, 407px 1275px #926E58, 188px 1376px #926E58,
    386px 1627px #926E58, 1380px 1468px #926E58, 1585px 1418px #926E58,
    1919px 1764px #926E58, 299px 35px #926E58, 1979px 453px #926E58,
    1562px 1777px #926E58, 1394px 92px #926E58, 1853px 1635px #926E58,
    1352px 1506px #926E58, 1784px 302px #926E58, 419px 818px #926E58,
    642px 372px #926E58, 432px 514px #926E58, 1548px 756px #926E58,
    178px 459px #926E58, 1381px 1849px #926E58, 1748px 1177px #926E58,
    1362px 55px #926E58, 1868px 1965px #926E58, 1786px 1089px #926E58,
    1117px 1836px #926E58, 1538px 1240px #926E58, 519px 409px #926E58,
    83px 812px #926E58, 64px 1854px #926E58, 1619px 936px #926E58,
    1129px 1196px #926E58, 131px 368px #926E58, 1009px 595px #926E58,
    720px 1842px #926E58, 137px 1835px #926E58, 2px 1542px #926E58,
    151px 902px #926E58, 1345px 37px #926E58, 385px 716px #926E58,
    576px 308px #926E58, 1553px 1030px #926E58, 9px 1233px #926E58,
    1027px 1637px #926E58, 985px 1172px #926E58, 941px 451px #926E58,
    1385px 1200px #926E58, 225px 2px #926E58, 495px 838px #926E58,
    1950px 1512px #926E58, 590px 1953px #926E58, 1890px 1574px #926E58,
    1081px 755px #926E58, 1543px 1879px #926E58, 1543px 260px #926E58,
    648px 1273px #926E58, 1765px 984px #926E58, 273px 662px #926E58,
    376px 1689px #926E58, 1429px 657px #926E58, 898px 268px #926E58,
    412px 512px #926E58, 541px 421px #926E58, 212px 922px #926E58,
    610px 875px #926E58, 1893px 573px #926E58, 1851px 634px #926E58,
    1786px 1087px #926E58, 1896px 81px #926E58, 330px 1748px #926E58,
    1271px 333px #926E58, 510px 1740px #926E58, 1887px 459px #926E58,
    402px 740px #926E58, 102px 729px #926E58, 1761px 1379px #926E58,
    914px 1103px #926E58, 718px 856px #926E58, 96px 809px #926E58,
    1517px 1029px #926E58, 1172px 814px #926E58, 1210px 585px #926E58,
    1366px 258px #926E58;
  z-index: 10;
}

#stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1107px 1485px #926E58, 1288px 1059px #926E58,
    1757px 1832px #926E58, 19px 724px #926E58, 1109px 738px #926E58,
    559px 1648px #926E58, 164px 1787px #926E58, 401px 1642px #926E58,
    1837px 1478px #926E58, 349px 5px #926E58, 257px 1971px #926E58,
    67px 318px #926E58, 626px 841px #926E58, 514px 1272px #926E58,
    1355px 1394px #926E58, 369px 590px #926E58, 144px 244px #926E58,
    1096px 1956px #926E58, 946px 471px #926E58, 100px 1844px #926E58,
    813px 1370px #926E58, 467px 406px #926E58, 728px 490px #926E58,
    1645px 191px #926E58, 95px 1729px #926E58, 105px 785px #926E58,
    274px 1810px #926E58, 927px 1701px #926E58, 1809px 89px #926E58,
    1124px 109px #926E58, 539px 1065px #926E58, 1009px 1233px #926E58,
    1784px 1744px #926E58, 1314px 781px #926E58, 456px 1798px #926E58,
    288px 440px #926E58, 1288px 1371px #926E58, 1213px 1211px #926E58,
    28px 1666px #926E58, 1348px 1819px #926E58, 1139px 855px #926E58,
    749px 1506px #926E58, 1381px 1381px #926E58, 416px 1049px #926E58,
    769px 869px #926E58, 966px 165px #926E58, 1044px 73px #926E58,
    1642px 720px #926E58, 1446px 992px #926E58, 1928px 521px #926E58,
    1713px 1740px #926E58, 1475px 1164px #926E58, 291px 1122px #926E58,
    432px 1499px #926E58, 324px 1444px #926E58, 367px 1341px #926E58,
    1432px 1896px #926E58, 1282px 1264px #926E58, 622px 1959px #926E58,
    481px 1526px #926E58, 1845px 487px #926E58, 864px 510px #926E58,
    1346px 307px #926E58, 1021px 1354px #926E58, 1031px 1922px #926E58,
    1938px 1022px #926E58, 1121px 1842px #926E58, 503px 1332px #926E58,
    894px 532px #926E58, 1010px 294px #926E58, 1287px 666px #926E58,
    134px 15px #926E58, 466px 773px #926E58, 916px 1414px #926E58,
    1645px 1590px #926E58, 544px 1440px #926E58, 697px 753px #926E58,
    15px 636px #926E58, 514px 1619px #926E58, 649px 1709px #926E58,
    681px 1480px #926E58, 1634px 1908px #926E58, 355px 1320px #926E58,
    1395px 1627px #926E58, 1941px 495px #926E58, 1919px 1338px #926E58,
    123px 1845px #926E58, 1216px 391px #926E58, 278px 313px #926E58,
    1865px 1773px #926E58, 45px 574px #926E58, 812px 484px #926E58,
    56px 923px #926E58, 1159px 757px #926E58, 580px 96px #926E58,
    1618px 103px #926E58, 1387px 44px #926E58, 547px 1863px #926E58,
    1396px 1922px #926E58, 413px 1394px #926E58, 1062px 935px #926E58,
    955px 39px #926E58, 1873px 515px #926E58, 861px 1902px #926E58,
    710px 1883px #926E58, 697px 1832px #926E58, 1726px 1022px #926E58,
    1163px 77px #926E58, 1108px 339px #926E58, 280px 1299px #926E58,
    985px 1879px #926E58, 1105px 1623px #926E58, 1519px 1527px #926E58,
    132px 1102px #926E58, 1691px 1493px #926E58, 34px 1034px #926E58,
    107px 1980px #926E58, 1421px 916px #926E58, 1891px 93px #926E58,
    1119px 564px #926E58, 651px 733px #926E58, 1995px 378px #926E58,
    391px 642px #926E58, 361px 461px #926E58, 249px 772px #926E58,
    1086px 1226px #926E58, 511px 488px #926E58, 1161px 1382px #926E58,
    1111px 1176px #926E58, 1561px 311px #926E58, 539px 914px #926E58,
    920px 1659px #926E58, 1239px 465px #926E58, 89px 841px #926E58,
    1855px 1765px #926E58, 683px 1321px #926E58, 1217px 1927px #926E58,
    273px 1987px #926E58, 13px 1532px #926E58, 935px 1198px #926E58,
    526px 1158px #926E58, 1846px 1184px #926E58, 1735px 239px #926E58,
    215px 1567px #926E58, 196px 756px #926E58, 1109px 803px #926E58,
    1252px 151px #926E58, 1937px 144px #926E58, 173px 598px #926E58,
    1603px 475px #926E58, 1439px 527px #926E58, 1453px 940px #926E58,
    77px 727px #926E58, 601px 728px #926E58, 1906px 895px #926E58,
    553px 990px #926E58, 786px 1816px #926E58, 1780px 527px #926E58,
    450px 1091px #926E58, 910px 96px #926E58, 1411px 975px #926E58,
    646px 523px #926E58, 1249px 1131px #926E58, 902px 1434px #926E58,
    1503px 302px #926E58, 1337px 556px #926E58, 1340px 67px #926E58,
    1928px 826px #926E58, 21px 685px #926E58, 1187px 1471px #926E58,
    730px 1586px #926E58, 1301px 1603px #926E58, 1329px 1500px #926E58,
    1483px 1936px #926E58, 1054px 1288px #926E58, 1843px 104px #926E58,
    1353px 1079px #926E58, 1042px 25px #926E58, 1982px 1524px #926E58,
    619px 44px #926E58, 154px 1615px #926E58, 1715px 1074px #926E58,
    1888px 1148px #926E58, 599px 817px #926E58, 1717px 620px #926E58,
    1624px 1277px #926E58, 1377px 1291px #926E58, 1704px 1826px #926E58,
    438px 485px #926E58, 917px 1278px #926E58, 1947px 114px #926E58,
    1638px 398px #926E58, 181px 326px #926E58, 1831px 697px #926E58,
    731px 1848px #926E58, 1356px 1082px #926E58, 1970px 1957px #926E58,
    420px 1785px #926E58, 288px 182px #926E58, 1359px 375px #926E58;
  animation: animStar 80s linear infinite;
  z-index: 10;
  position: relative;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1107px 1485px #926E58, 1288px 1059px #926E58,
    1757px 1832px #926E58, 19px 724px #926E58, 1109px 738px #926E58,
    559px 1648px #926E58, 164px 1787px #926E58, 401px 1642px #926E58,
    1837px 1478px #926E58, 349px 5px #926E58, 257px 1971px #926E58,
    67px 318px #926E58, 626px 841px #926E58, 514px 1272px #926E58,
    1355px 1394px #926E58, 369px 590px #926E58, 144px 244px #926E58,
    1096px 1956px #926E58, 946px 471px #926E58, 100px 1844px #926E58,
    813px 1370px #926E58, 467px 406px #926E58, 728px 490px #926E58,
    1645px 191px #926E58, 95px 1729px #926E58, 105px 785px #926E58,
    274px 1810px #926E58, 927px 1701px #926E58, 1809px 89px #926E58,
    1124px 109px #926E58, 539px 1065px #926E58, 1009px 1233px #926E58,
    1784px 1744px #926E58, 1314px 781px #926E58, 456px 1798px #926E58,
    288px 440px #926E58, 1288px 1371px #926E58, 1213px 1211px #926E58,
    28px 1666px #926E58, 1348px 1819px #926E58, 1139px 855px #926E58,
    749px 1506px #926E58, 1381px 1381px #926E58, 416px 1049px #926E58,
    769px 869px #926E58, 966px 165px #926E58, 1044px 73px #926E58,
    1642px 720px #926E58, 1446px 992px #926E58, 1928px 521px #926E58,
    1713px 1740px #926E58, 1475px 1164px #926E58, 291px 1122px #926E58,
    432px 1499px #926E58, 324px 1444px #926E58, 367px 1341px #926E58,
    1432px 1896px #926E58, 1282px 1264px #926E58, 622px 1959px #926E58,
    481px 1526px #926E58, 1845px 487px #926E58, 864px 510px #926E58,
    1346px 307px #926E58, 1021px 1354px #926E58, 1031px 1922px #926E58,
    1938px 1022px #926E58, 1121px 1842px #926E58, 503px 1332px #926E58,
    894px 532px #926E58, 1010px 294px #926E58, 1287px 666px #926E58,
    134px 15px #926E58, 466px 773px #926E58, 916px 1414px #926E58,
    1645px 1590px #926E58, 544px 1440px #926E58, 697px 753px #926E58,
    15px 636px #926E58, 514px 1619px #926E58, 649px 1709px #926E58,
    681px 1480px #926E58, 1634px 1908px #926E58, 355px 1320px #926E58,
    1395px 1627px #926E58, 1941px 495px #926E58, 1919px 1338px #926E58,
    123px 1845px #926E58, 1216px 391px #926E58, 278px 313px #926E58,
    1865px 1773px #926E58, 45px 574px #926E58, 812px 484px #926E58,
    56px 923px #926E58, 1159px 757px #926E58, 580px 96px #926E58,
    1618px 103px #926E58, 1387px 44px #926E58, 547px 1863px #926E58,
    1396px 1922px #926E58, 413px 1394px #926E58, 1062px 935px #926E58,
    955px 39px #926E58, 1873px 515px #926E58, 861px 1902px #926E58,
    710px 1883px #926E58, 697px 1832px #926E58, 1726px 1022px #926E58,
    1163px 77px #926E58, 1108px 339px #926E58, 280px 1299px #926E58,
    985px 1879px #926E58, 1105px 1623px #926E58, 1519px 1527px #926E58,
    132px 1102px #926E58, 1691px 1493px #926E58, 34px 1034px #926E58,
    107px 1980px #926E58, 1421px 916px #926E58, 1891px 93px #926E58,
    1119px 564px #926E58, 651px 733px #926E58, 1995px 378px #926E58,
    391px 642px #926E58, 361px 461px #926E58, 249px 772px #926E58,
    1086px 1226px #926E58, 511px 488px #926E58, 1161px 1382px #926E58,
    1111px 1176px #926E58, 1561px 311px #926E58, 539px 914px #926E58,
    920px 1659px #926E58, 1239px 465px #926E58, 89px 841px #926E58,
    1855px 1765px #926E58, 683px 1321px #926E58, 1217px 1927px #926E58,
    273px 1987px #926E58, 13px 1532px #926E58, 935px 1198px #926E58,
    526px 1158px #926E58, 1846px 1184px #926E58, 1735px 239px #926E58,
    215px 1567px #926E58, 196px 756px #926E58, 1109px 803px #926E58,
    1252px 151px #926E58, 1937px 144px #926E58, 173px 598px #926E58,
    1603px 475px #926E58, 1439px 527px #926E58, 1453px 940px #926E58,
    77px 727px #926E58, 601px 728px #926E58, 1906px 895px #926E58,
    553px 990px #926E58, 786px 1816px #926E58, 1780px 527px #926E58,
    450px 1091px #926E58, 910px 96px #926E58, 1411px 975px #926E58,
    646px 523px #926E58, 1249px 1131px #926E58, 902px 1434px #926E58,
    1503px 302px #926E58, 1337px 556px #926E58, 1340px 67px #926E58,
    1928px 826px #926E58, 21px 685px #926E58, 1187px 1471px #926E58,
    730px 1586px #926E58, 1301px 1603px #926E58, 1329px 1500px #926E58,
    1483px 1936px #926E58, 1054px 1288px #926E58, 1843px 104px #926E58,
    1353px 1079px #926E58, 1042px 25px #926E58, 1982px 1524px #926E58,
    619px 44px #926E58, 154px 1615px #926E58, 1715px 1074px #926E58,
    1888px 1148px #926E58, 599px 817px #926E58, 1717px 620px #926E58,
    1624px 1277px #926E58, 1377px 1291px #926E58, 1704px 1826px #926E58,
    438px 485px #926E58, 917px 1278px #926E58, 1947px 114px #926E58,
    1638px 398px #926E58, 181px 326px #926E58, 1831px 697px #926E58,
    731px 1848px #926E58, 1356px 1082px #926E58, 1970px 1957px #926E58,
    420px 1785px #926E58, 288px 182px #926E58, 1359px 375px #926E58;
  z-index: 10;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 420px 848px #926E58, 930px 1771px #926E58, 77px 125px #926E58,
    1783px 20px #926E58, 1825px 1434px #926E58, 1293px 391px #926E58,
    1109px 1665px #926E58, 235px 1072px #926E58, 1515px 1267px #926E58,
    683px 681px #926E58, 1621px 1924px #926E58, 1501px 1829px #926E58,
    796px 4px #926E58, 681px 625px #926E58, 1026px 944px #926E58,
    781px 889px #926E58, 868px 449px #926E58, 1967px 686px #926E58,
    1169px 286px #926E58, 1490px 209px #926E58, 632px 1720px #926E58,
    525px 39px #926E58, 1477px 1108px #926E58, 1531px 1797px #926E58,
    726px 236px #926E58, 169px 1990px #926E58, 1431px 1120px #926E58,
    1078px 732px #926E58, 578px 1958px #926E58, 958px 1656px #926E58,
    1831px 309px #926E58, 1317px 586px #926E58, 426px 1173px #926E58,
    41px 954px #926E58, 1752px 1446px #926E58, 276px 17px #926E58,
    708px 725px #926E58, 1174px 720px #926E58, 296px 1969px #926E58,
    462px 1177px #926E58, 929px 1392px #926E58, 496px 1601px #926E58,
    805px 843px #926E58, 1425px 439px #926E58, 1130px 1949px #926E58,
    954px 1315px #926E58, 825px 492px #926E58, 751px 1313px #926E58,
    1816px 1813px #926E58, 575px 385px #926E58, 658px 1389px #926E58,
    1040px 508px #926E58, 159px 1622px #926E58, 976px 1580px #926E58,
    925px 1043px #926E58, 805px 1418px #926E58, 1469px 1109px #926E58,
    207px 23px #926E58, 1167px 1975px #926E58, 532px 183px #926E58,
    314px 1534px #926E58, 221px 800px #926E58, 632px 1061px #926E58,
    448px 402px #926E58, 950px 328px #926E58, 1831px 980px #926E58,
    266px 902px #926E58, 863px 780px #926E58, 608px 336px #926E58,
    15px 1847px #926E58, 1298px 3px #926E58, 1188px 1400px #926E58,
    187px 591px #926E58, 825px 73px #926E58, 1578px 70px #926E58,
    852px 809px #926E58, 721px 621px #926E58, 694px 1053px #926E58,
    343px 817px #926E58, 567px 919px #926E58, 1070px 1472px #926E58,
    1069px 343px #926E58, 1109px 269px #926E58, 381px 1476px #926E58,
    625px 496px #926E58, 1441px 415px #926E58, 1562px 745px #926E58,
    1118px 1009px #926E58, 680px 64px #926E58, 362px 1107px #926E58,
    1854px 1322px #926E58, 251px 1638px #926E58, 456px 1576px #926E58,
    765px 1237px #926E58, 1429px 1168px #926E58, 947px 1764px #926E58,
    1046px 707px #926E58, 356px 1707px #926E58, 459px 1007px #926E58,
    1684px 945px #926E58;
  animation: animStar 130s linear infinite;
  z-index: 10;
  position: relative;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 420px 848px #926E58, 930px 1771px #926E58, 77px 125px #926E58,
    1783px 20px #926E58, 1825px 1434px #926E58, 1293px 391px #926E58,
    1109px 1665px #926E58, 235px 1072px #926E58, 1515px 1267px #926E58,
    683px 681px #926E58, 1621px 1924px #926E58, 1501px 1829px #926E58,
    796px 4px #926E58, 681px 625px #926E58, 1026px 944px #926E58,
    781px 889px #926E58, 868px 449px #926E58, 1967px 686px #926E58,
    1169px 286px #926E58, 1490px 209px #926E58, 632px 1720px #926E58,
    525px 39px #926E58, 1477px 1108px #926E58, 1531px 1797px #926E58,
    726px 236px #926E58, 169px 1990px #926E58, 1431px 1120px #926E58,
    1078px 732px #926E58, 578px 1958px #926E58, 958px 1656px #926E58,
    1831px 309px #926E58, 1317px 586px #926E58, 426px 1173px #926E58,
    41px 954px #926E58, 1752px 1446px #926E58, 276px 17px #926E58,
    708px 725px #926E58, 1174px 720px #926E58, 296px 1969px #926E58,
    462px 1177px #926E58, 929px 1392px #926E58, 496px 1601px #926E58,
    805px 843px #926E58, 1425px 439px #926E58, 1130px 1949px #926E58,
    954px 1315px #926E58, 825px 492px #926E58, 751px 1313px #926E58,
    1816px 1813px #926E58, 575px 385px #926E58, 658px 1389px #926E58,
    1040px 508px #926E58, 159px 1622px #926E58, 976px 1580px #926E58,
    925px 1043px #926E58, 805px 1418px #926E58, 1469px 1109px #926E58,
    207px 23px #926E58, 1167px 1975px #926E58, 532px 183px #926E58,
    314px 1534px #926E58, 221px 800px #926E58, 632px 1061px #926E58,
    448px 402px #926E58, 950px 328px #926E58, 1831px 980px #926E58,
    266px 902px #926E58, 863px 780px #926E58, 608px 336px #926E58,
    15px 1847px #926E58, 1298px 3px #926E58, 1188px 1400px #926E58,
    187px 591px #926E58, 825px 73px #926E58, 1578px 70px #926E58,
    852px 809px #926E58, 721px 621px #926E58, 694px 1053px #926E58,
    343px 817px #926E58, 567px 919px #926E58, 1070px 1472px #926E58,
    1069px 343px #926E58, 1109px 269px #926E58, 381px 1476px #926E58,
    625px 496px #926E58, 1441px 415px #926E58, 1562px 745px #926E58,
    1118px 1009px #926E58, 680px 64px #926E58, 362px 1107px #926E58,
    1854px 1322px #926E58, 251px 1638px #926E58, 456px 1576px #926E58,
    765px 1237px #926E58, 1429px 1168px #926E58, 947px 1764px #926E58,
    1046px 707px #926E58, 356px 1707px #926E58, 459px 1007px #926E58,
    1684px 945px #926E58;
  z-index: 10;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
